@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

.home {
  padding-top: 100px;
}
.container {
  padding: 0 200px;
}
.wrap {
  display: flex;
  column-gap: 20px;
}
.content_left {
  position: relative;
  bottom: 100px;
  left: 24px;
}
.tgl {
  font-size: 14px;
  color: #fff;
}
.head {
  font-size: 18px;
  color: #fff;
}
.last {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
.card {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.line {
  content: '-';
  width: 100%;
  background-color: #646464;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content_head {
  font-size: 18px;
}
.desc {
  font-size: 14px;
  color: #646464;
}
.cor {
  font-size: 12px;
  color: #969696;
}
