@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

.home {
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.wrap {
  display: flex;
}
.trend {
  font-size: 24px;
  font-weight: 600;
  color: #242954;
}
.img_left {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(80%);
}
.span {
  font-weight: bold;
}
.left {
  position: relative;
  max-width: 700px;
}
.content_left {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}
.wrap {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.tgl {
  font-size: 14px;
  color: #fff;
}
.head {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.last {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
.card {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.img_right {
  border-radius: 8px;
}
.line {
  content: '-';
  width: 100%;
  background-color: #646464;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content_head {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.desc {
  font-size: 14px;
  color: #646464;
}
.cor {
  font-size: 12px;
  color: #969696;
}
.desc span {
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 1048px) {
  .container {
    align-items: center;
  }
  .wrap {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}

@media screen and (max-width: 614px) {
  .img_left {
    width: 450px;
  }
  .card {
    column-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .img_left {
    width: 350px;
  }
  .content_left {
    left: 2rem;
    bottom: 1.5rem;
    position: absolute;
  }

  .img_right {
    width: 150px;
  }
  .desc {
    display: none;
  }
}